@import './base.css';
body {
  min-height: 100vh;
  /* display: grid; */
  /* display: flex;
  flex-direction: column; */
}
#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* font-weight: normal; */
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
}

a,
.color-theme {
  text-decoration: none;
  color: var(--color-theme);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-theme-fade);
    box-shadow: 0 0 12px 4px var(--color-theme-fade);
    color: var(--color-text);
  }
}

@media (min-width: 1324px) {
  #app {
    /* width: 75vw;
    height: auto;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center; */
  }
}
@media (min-width: 760px) and (max-width: 1323px) {
  #app {
    width: 100%;
    /* width: 50%;
    height: auto;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center; */
  }
}
@media (max-width: 760px) {
  #app {
    padding: 0;
  }
}
